.btn {
  margin: 0 auto;
  display: block;
}

.chart-description {
  color: white;
  margin: auto;
  width: 50%;
  border: 3px solid gray;
  padding: 10px;
  margin-top: 4em;
  border-radius: 2%;
  box-shadow: 5px 10px #bbb7b7;
  opacity: 0.9;
}

.chart-img {
  height: 44%;
  border-radius: 2%;
  border: solid gray;
  margin-top: 1%;
  display: block;
}

.carr {
  margin-left: 5%;
}

body {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  text-align: center;
}

h3 {
  color: whitesmoke;
  text-align: center;
  margin: 1% 0;
}

h4 {
  color: whitesmoke;
  text-align: center;
}

h5 {
  color: whitesmoke;
  text-align: center;
}

p {
  text-align: center;
}

table {
  margin: 5% auto;
  font-size: small;
  border: 1px solid black;
  border-radius: 2%;
}

td {
  background-color: #e2f5d4;
  border: 1px solid black;
}

th,
td {
  font-weight: bold;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

td {
  font-weight: lighter;
}

.border {
  border-radius: 10px;
}

.btn-inst {
  color: whitesmoke;
}

.container {
  margin: 2.5% auto;
  border-radius: 1%;
}

.qb-container {
  box-shadow: 5px 10px #888888;
  opacity: 0.9;
}

.feature-img {
  border-radius: 50%;
  border: white solid;
  margin: 5% auto;
  display: block;
}

.feature-logo {
  margin-right: 6%;
  margin-bottom: 2%;
}

.player-story {
  color: whitesmoke;
  margin: 2% 0;
}

.qb-story {
  border-left: whitesmoke solid 2px;
  margin: 2% 0;
}

#intro {
  color: black;
}

#graph-intro {
  color: black;
  padding-top: 2%;
  padding-bottom: 0%;
}

#canvas {
  width: 100%;
  font-size: 8px;
}

#baker-chart-img {
  height: 780px;
  width: 870px;
}
#second-img-div {
  height: 780px;
}

#baker-img-three {
  height: 50em;
}

#baker-two {
  margin-top: 7em;
}

#baker-last {
  margin-top: 8em;
}

#bortles-two {
  height: 40%;
  border-radius: 2%;
}

#bortles-three {
  height: 36.5%;
  border-radius: 2%;
}

#blake-desc-two {
  margin-top: 2em;
}

#blake-second-img-div {
  height: 45.5em;
}

#blake-third-div {
  height: 41.5em;
}
#blake-chart-desc {
  margin-top: 10em;
}

#derek-second-img-div {
  height: 43.5em;
}

#derek-second-chart-desc {
  margin-top: 2em;
}

#derek-two {
  height: 39%;
  border-radius: 2%;
}

#derek-three {
  height: 36.5%;
}

#derek-third-div {
  height: 41.5em;
}

#derek-third-desc {
  margin-top: 5.5em;
}

#nfl-logo {
  height: 25em;
  margin: 0 auto;
  display: block;
}
